
  <header class="header">
    <h1 class="logo"><a href="/"><i class="fa fa-bank"></i> Online Banking</a></h1>
    <ul class="main-nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/allusers"><i class="fas fa-user-friends"></i> All users</a></li>
        <li><a href="/transfer"><i class="fa fa-money"></i> Transfer Money</a></li>
    </ul>
</header> 