
  <header class="header">
    <h1 class="logo"><a href="/"><i class="fa fa-bank"></i> Online Banking</a></h1>
    <ul class="main-nav">
        
        <li><a href="/allusers"><i class="fas fa-user-friends"></i>View All customers</a></li>
    </ul>
</header> 