*{
	margin :0;
	border:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-image: url("bankimage.jpg");
    background-attachment: fixed;
    background-size: cover;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


th,td{
	font-size: large;
	font-weight: 500;
}
h2,
h3,
a {
	color:dodgerblue;
}

li a,h1 a{
	font-weight: 600;
	text-decoration: none;
}
li a:hover,h1 a:hover{
	text-decoration: none;
	
	transition: 0.3s ease-in all;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}


.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color:dodgerblue;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
footer{
	position: fixed;
	left:0;
	bottom: 0;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	color: white;
	text-align: center;
	width:100%;
	font-size: 1.2rem;
	padding:7px 0;
}
.bg-blue-grad{
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
}

.card-styles{
	font-weight: bold;padding:20px;box-shadow: 5px 10px 18px #888888;
	font-size: 1.1rem;
}

.fas.fa-user-circle{
	font-size:1.2rem;
}
.card-name{
	color: white;cursor: pointer;
}
.card-name:hover{
	text-decoration: none;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}